<div id="<%= dom_id post %>" class="bg-white p-4 rounded-lg shadow mb-4">
  <p class="font-bold">
    <strong>Título:</strong>
    <%= post.title %>
  </p>

  <p class="my-2">
    <strong>Conteúdo:</strong>
    <%= truncate_html(post.body, 100) %>
  </p>

  <p class="text-gray-500">
    <strong>Publicação:</strong>
    <%= post.published_at.strftime('%d %B %Y') %>
  </p>
</div>
