<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog - Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body class="bg-gray-100">
    <nav class="bg-gray-800 p-4 shadow">
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
          <a class="text-white text-xl font-bold mr-4" href="/admin">MyBlog - Admin</a>
          <div class="hidden md:flex md:space-x-4">
            <a href="/admin/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded">Posts</a>
            <a href="/admin/posts/new" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded">Novo Post</a>
            <a href="/logout" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded">Sair</a>
          </div>
        </div>
        <button id="navbar-toggle" class="text-white md:hidden focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
      <div id="navbar-menu" class="hidden md:hidden">
        <div class="flex flex-col items-start space-y-1">
          <a href="/admin" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded">Posts</a>
          <a href="/admin/posts/new" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded">Novo Post</a>
          <a href="/logout" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded">Sair</a>
        </div>
      </div>
    </nav>

    <div class="container mx-auto my-4">
      <%= yield %>
    </div>

    <script>
      // Script for toggling the mobile menu
      document.getElementById('navbar-toggle').addEventListener('click', function () {
        const menu = document.getElementById('navbar-menu');
        menu.classList.toggle('hidden');
      });
    </script>
  </body>
</html>
